<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.liftdom.liftdom">

    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".MainActivity"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.liftdom.template_editor.TemplateEditorActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name="com.liftdom.template_editor.SaveTemplateDialog"
                android:theme="@style/Theme.AppCompat.Dialog.NoBar">
        </activity>
        <activity
                android:name="com.liftdom.workout_assistor.SaveAssistorDialog"
                android:noHistory="true"
                android:theme="@style/Theme.AppCompat.Dialog">
        </activity>
        <activity android:name="com.liftdom.template_editor.TemplateSavedActivity">
        </activity>
        <activity
                android:name="com.liftdom.template_housing.TemplateHousingActivity"
                android:label="">
        </activity>
        <activity
                android:name="com.liftdom.workout_assistor.WorkoutAssistorActivity"
                android:label=""
                android:noHistory="true">
        </activity>
        <activity android:name="com.liftdom.workout_assistor.AssistorSavedActivity">
        </activity>
        <activity android:name="com.liftdom.user_profile.your_profile.CurrentUserProfile">
        </activity>
        <activity
                android:name="com.liftdom.template_editor.ExercisePickerActivity"
                android:theme="@style/Theme.AppCompat.Dialog">
        </activity>
        <activity
                android:name="com.liftdom.user_profile.your_profile.ProfileInfoActivity"
                android:noHistory="true">
        </activity>
        <activity
                android:name="com.liftdom.template_editor.ExtraOptionsActivity"
                android:theme="@style/Theme.AppCompat.Dialog">
        </activity>
        <activity
                android:name="com.liftdom.template_editor.AlgorithmSelectorActivity"
                android:theme="@style/Theme.AppCompat.Dialog">
        </activity>
        <activity
                android:name="com.liftdom.template_housing.RenameTemplateDialog"
                android:noHistory="true"
                android:theme="@android:style/Theme.Holo.Dialog">
        </activity>

        <meta-data
                android:name="com.facebook.sdk.ApplicationId"
                android:value="@string/facebook_app_id"/>

        <activity
                android:name="com.facebook.FacebookActivity"
                android:label="@string/app_name"/>
        <activity
                android:name="com.liftdom.settings.SettingsListActivity"
                android:label="">
        </activity>
        <activity
                android:name="com.liftdom.user_profile.calendar_stuff.SelectedPastDateDialog"
                android:theme="@style/AppCompatDialogNoTitleBar">
        </activity>
        <activity
                android:name="com.liftdom.user_profile.calendar_stuff.SelectedFutureDateDialog"
                android:theme="@style/AppCompatDialogNoTitleBar">
        </activity>
        <activity
                android:name="com.liftdom.charts_stats_tools.ChartsStatsToolsActivity"
                android:label="">
        </activity>
        <activity
                android:name="com.liftdom.charts_stats_tools.exercise_selector.ExSelectorActivity"
                android:theme="@style/Theme.AppCompat.Dialog.NoBar">
        </activity>
        <activity android:name="com.liftdom.knowledge_center.KnowledgeCenterHolderActivity">
        </activity>
        <activity
                android:name="com.liftdom.knowledge_center.exercise_library.ExerciseLibraryActivity"
                android:label="">
        </activity>
        <activity
                android:name="com.liftdom.knowledge_center.exercise_library.ExerciseDetailActivity"
                android:theme="@style/Theme.AppCompat.Dialog.NoBar">
        </activity>
        <activity
                android:name="com.liftdom.knowledge_center.hall_of_fame.HallOfFameActivity"
                android:label="">
        </activity>
        <activity
                android:name="com.liftdom.knowledge_center.hall_of_fame.HallOfFameDetailActivity"
                android:theme="@style/Theme.AppCompat.Dialog.NoBar">
        </activity>
        <activity
                android:name=".PremiumFeaturesActivity"
                android:label="">
        </activity>
        <activity
                android:name="com.liftdom.workout_programs.PPL.PPLHolderActivity"
                android:noHistory="true">
        </activity>
        <activity
                android:name="com.liftdom.workout_programs.Smolov.SmolovHolderActivity"
                android:noHistory="true">
        </activity>
        <activity android:name=".SignInActivity">
        </activity>
    </application>

</manifest>